.mb-30 {
    margin-bottom: 30px!important;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

main, article{
    display: block;
    padding-top: 30px;
}

.col-lg-4, .col-md-5, .col-md-6{
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-lg-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}

.post-card {
    border: 1px solid #000000;
    z-index: 12;
    transition: all .25s cubic-bezier(.02,.01,.47,1);
    position: relative;
    background: #fff;
}

.border-radius-10 {
    border-radius: 10px;
}

.container-article {
    width: 100%;
    max-width: 720px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.post-card .thumb-overlay {
    min-height: 220px;
    border-radius: 10px 10px 0 0;
}

.post-card .post-content {
    background: #eff3fa;
    border-radius: 0 0 10px 10px;
}


h5, .post-title{
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500px;
    text-transform: none;
    text-align: center;
}

h6{
    font-style: normal;
    text-transform: none;
    font-size: 1rem;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    line-height: 1.2;
    font-weight: normal;
    text-align: center;
}


.p-30 {
    padding: 30px!important;
}

.img-hover-slide {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    overflow: hidden;
}

.img-link {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
}

.hover-up:hover{
    transform:translateY(-5px);
    box-shadow:var(--box-shadow-hover),0 0 0 transparent;
    border: 1px solid #2bcac8;
    color: #575980;
    cursor: pointer;
}

.product-header h5 {
    text-transform: uppercase;
    font-family: 'Sancreek', cursive;
    font-size: 30px;
}